{% extends "layout.html" %}


{% block body %}


{% for post in posts %}
<section>

    <h3 class="post-title">  {{ post.title }}</h3>

    <p class="date">Publicado en: {{ post.date.strftime('%d/%m/%Y %H:%M') }}</p>
    <p>{{ post.text }}</p>
    <p>Autor: {{ post.author.username }}</p>
    <p>Estado: 
        {% if post.is_published == True %} Publicado
        {% elif post.is_deleted == True %} Eliminado
        {% else %} Borrador
        {% endif %}
    </p>

<form class="delete-button" action=" {{ url_for('delete_final') }}" method="post">

    <button value="{{post.id}}" name="post_id">Borrar Post</button>
</form>


<form class="delete-button4" action="{{ url_for('drafts') }}" method="GET">
    <button value="{{post.id}}" name="post_id" class="delete">Editar</button>
</form>


{% for post_file in post_files %}
    {% if post_file.post_id == post.id %}
    <form class="delete-button" action="{{ url_for('download_file', upload_id=post.id, filename=post_file.filename) }}" method="post">
       
     <button value="{{post_file.filename}}" name="post_file_id"> {{ post_file.filename }} </button> 

    </form>



    {% endif %}
{% endfor %}



</section>

{% endfor %} 

{% endblock %} 

